## Assignment3 part1 - Tidying data

Importing required libraries

In [ ]:
import pandas as pd
import datetime as dt
import numpy as np

Reading data from 'esb.csv' file

In [ ]:
df = pd.read_csv("data/esb.csv")

Writing file in excel format in order to read as multiIndexed just to combine both the headings(this operation cannot be performed if we read if from csv file)

In [ ]:
df.to_excel('esb1.xlsx', index = False)

Reading data from excel file with first two rows as columns(multiIndex)

In [ ]:
df_xl = pd.read_excel("esb1.xlsx",header = [1,2])

Glimpse of headings

In [ ]:
df_xl.head()

### Cleaning data

Dropping all 'Total' columns from the dataframe (axis = 1 represents columns, level = 1 represents 2nd index)

In [ ]:
df_xl = df_xl.drop(['Total'], axis=1,level = 1)

Merging both levels of column indexes by using map function<br> Here '{0[0]}-{0[1]}' means take 1st level index and join with 2nd level index using '-'

In [ ]:
df_xl.columns=df_xl.columns.map('{0[0]}-{0[1]}'.format)

Glimpse of how headings look after merging

In [ ]:
df_xl.tail()

Dropping rows indexed at (29,35,36) which are conversions, City Councils, Totals

In [ ]:
df_xl = df_xl.drop([29,35,36])

Removing "#" from 2011 Sep data in the process of cleaning.

In [ ]:
df_xl["2011-Sept"] = df_xl["2011-Sept"].str.replace("#","")

Renaming the County Council column

In [ ]:
df_xl = df_xl.rename(columns={'Unnamed: 0_level_0-County Councils': 'County Councils'})

In [ ]:
df_xl.head()

Setting County Council as index just to concatenate _city_ to repeating Counties

In [ ]:
df_xl = df_xl.set_index("County Councils")

after taking the index it adds ' city' where the index has duplicate value. In this where function from the dataframe we are selecting index, then duplicated function will select only the repeated values. Only for those we are concatenating '_city_'.

In [ ]:
df_xl.index = df_xl.index.where(~df_xl.index.duplicated(), df_xl.index + '_City')

In [ ]:
df_xl.tail()

Reseting the index, and by giving levels tells you which level index we need to reset and inplace will tells you whether we need to create a new object or not. Here we are moving the index as values to the 1st position in dataframe by giving level as '0'.

In [ ]:
df_xl.reset_index(level=0, inplace=True)

In [ ]:
df_xl.head()

## Tidying data

We are converting our dataframe into tidy data(means each row should give only one observation).<br> Here in the 'melt' funcion syntax we should pass dataframe, the county council are already an unique identifier so we are selecting all the columns as 'date' column because it is an identifier variable with multiple observatios. also we give 'esb' as the columns name for our new melted dataframe which contains all the values for each date. After this transformation our new dataframe contains with one esb value per row.

In [ ]:
tidy_df = pd.melt(df_xl,
                       ["County Councils"],
                       var_name="date",
                       value_name="esb")

In [ ]:
tidy_df.head()

From the date column we are spliting the date into year and month, and adding only month to the existing dataframe as month column

In [ ]:
tidy_df['Month'] = tidy_df['date'].str.split('-',expand = True)[1]

Converting date column into datetime format

In [ ]:
tidy_df['date'] = pd.to_datetime(tidy_df['date'])

In [ ]:
tidy_df.head()

sorting the values in the new dataframe and this 'by' tells us which one to sort first

In [ ]:
tidy_df = tidy_df.sort_values(by=["County Councils","date"])

In [ ]:
tidy_df.head(10)

From the date column we are extracting only year, and adding that to the existing dataframe as year column

In [ ]:
tidy_df['Year'] = tidy_df['date'].dt.year

Below codes gives you the information about your dataframe like total entries, columns and and its type, size

In [ ]:
tidy_df.info()

Converting esb column type to integer

In [ ]:
tidy_df["esb"] = tidy_df["esb"].astype("int")

Below code writes the dataframe as csv file with the name provided in the given path as shown in code, and index parameter tells you wheather to include index or not while writing

In [ ]:
tidy_df.to_csv('data/tidy_esb.csv',index = False)

## Visualizations based on the tidy data is included in another notebook